{
  "extends": "google",
  "env": {
    "browser": true
  },
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "no-unused-vars": ["error", {
      "vars": "all",
      "args": "after-used",
      "argsIgnorePattern": "^var_args$"
    }]
  },
  "globals": {
    "define": true
  }
}
