<html >
  <head>
    <meta name="viewport" content="width=500, initial-scale=1">
    <title>Web API Catalog</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Bootstrap requires jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style>
    </style>
  </head>
  <body ng-app="webCatalog" ng-controller="mainController">
    <div class="page-header">
      <h1>Web API Catalog</h1>
    </div>
    <div class="alert alert-danger" ng-if="error">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      {{error}}
    </div>
    <div class="btn-toolbar" role="toolbar">
      <div class="dropdown" role="group">
        <button class="btn btn-default dropdown-toggle" type="button" id="addBrowser" data-toggle="dropdown">
          Add Browser
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="browserList">
          <li ng-repeat="browser in allBrowsers"  value="{{browser}}"><a ng-click=addToCompare(browser)>{{browser}}</a></li>
        </ul>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="setPage(currentPage-1)" ng-class="{disabled: currentPage === 0}" ng-disabled="currentPage === 0">
            « Prev
        </button>
        <button type="button" class="btn btn-default" ng-click="setPage(n)"
          ng-repeat="n in range(pageLength, currentPage) "  ng-class="{active: n === currentPage}"> {{n + 1}}
        </button>
        <button type="button" class="btn btn-default" ng-click="setPage(currentPage+1)" ng-class="{disabled: (currentPage) === pageLength - 1}" ng-disabled="currentPage === pageLength - 1">
          Next »
        </button>
      </div>
      <button type="button" class="btn btn-default" role="group" ng-click="downloadCSV()"><span class="glyphicon glyphicon-download"></span>download CSV</button>
    </div>
    <div class="input-group col-xs-6 col-md-3">
      <input type="text" class="form-control" ng-model="searchKey">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="search()"><span class="glyphicon glyphicon-search"></span>Search</button>
      </span>
    </div>
    <table class="table">
      <tr>
        <th>Interface</th>
        <th ng-repeat='browser in apiCatalog._header'>{{browser}}<button ng-click= type="button" class="btn btn-default btn-sm"><span ng-click="removeBrowser(browser)" class="glyphicon glyphicon-remove"></span></button></th>
      </tr>
      <tr ng-repeat-start="interface in getInterfaceRange()" ng-if="interface!='_header'" ng-click="showCatalog(interface)">
        <td ng-style="{'background': showRows[interface]?'#c6c6c6':'ffffff', cursor:'pointer'}">{{interface}}</td>
      </tr>
      <tr ng-repeat-end ng-repeat="(api, results) in apiCatalog[interface]" ng-if="interface!='_header' && showRows[interface]">
        <td ng-style="{'background':'#ededed'}">{{api}}</td>
        <td ng-repeat="result in results track by $index" ng-style="{'background': result?'#c9fcb5':'#faf2ea'}">{{result}}</td>
      </tr>
    </table>
  </body>
    <script language="javascript"  src="bundle/vendors.bundle.js"></script>

    <script type="text/javascript" src="bundle/api_catalog_main.es6.bundle.js"></script>
</html>
