
<style>
  .colhead {
    position: absolute;
    left: auto;
    top: auto;
    background-color: rgba(255, 255, 255, 0.5);
  }

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
 </style>

<!-- Dropdown Structure -->
<ul id='browserList' class='dropdown-content'>
  <li ng-repeat="browser in allBrowsers"  value="{{browser}}"><a ng-click=addToCompare(browser)>{{browser}}</a></li>
</ul>
<nav>
  <div class="nav-wrapper blue darken-3">
    <ul class="right">
    <li>
      <form>
        <div class="input-field">
          <input id="search" id="search" type="search" ng-model="searchKey" ng-keyup="$event.keyCode == 13 && search($event)">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </li>
      <!-- Dropdown Trigger -->
      <li><a class='dropdown-button col' data-activates='browserList' ng-click="$('.dropdown-button').dropdown('open');">Add Browser<i class="material-icons right">arrow_drop_down</i></a></li>
      <!-- Pagination -->
        <li class="waves-effect" ng-click="setPage(currentPage-1)" ng-class="{disabled: currentPage === 0}" ng-disabled="currentPage === 0"><i class="material-icons">chevron_left</i></li>
        <li class="waves-effect"
          ng-repeat="n in range(pageLength, currentPage)" ng-class="{active: n === currentPage}"> <a ng-click="setPage(n)">{{n + 1}}</a></li>
        <li class="waves-effect" ng-click="setPage(currentPage+1)" ng-class="{disabled: (currentPage) === pageLength - 1}" ng-disabled="currentPage === pageLength - 1"><i class="material-icons">chevron_right</i></li>
      <!-- Download CSV button -->
      <li><a type="waves-effect waves-light btn col s3" role="group" ng-click="downloadCSV()"><span class="glyphicon glyphicon-download"></span>download CSV</a></li>
    </ul>
  </div>
</nav>

<ul id="tabs" class="tabs" ng-init="showTab={id:0}">
  <li class="tab col s3"><a ng-click="showTab.id=0" class="blue-text text-darken-2">Interface</a></li>
  <li class="tab col s3"><a ng-click="showTab.id=1" class="blue-text text-darken-2">Analysis</a></li>
  <li class="tab col s3" ng-repeat="view in views track by $index"><a ng-click="showTab.id=2+$index">{{'#view'+$index}}</a></li>
</ul>

<!-- Interface/API Tab -->
<div id="interfaceTable" class="col s12" ng-show="showTab.id===0">
  <div class="container" style="overflow: scroll;">
    <table class="bordered highlight" >
      <tr>
        <th>Interface</th>
        <th ng-repeat='browser in searchResult._header'> <div class="chip">{{browser}}<i class="close material-icons" ng-click="removeBrowser(browser)">close</i></div></th>
      </tr>
      <tr ng-repeat-start="interface in getInterfaceRange()" ng-if="interface!=='_header'" ng-click="showCatalog(interface)">
        <td class="waves-effect" ng-class="{'grey lighten-1': showRows[interface]}" ng-style="{cursor:'pointer', width:'100%'}">{{interface}}</td>
      </tr>
      <tr ng-repeat-end ng-repeat="(api, results) in searchResult[interface]" ng-if="interface!=='_header' && showRows[interface]">
        <td class='colhead'>{{api}}</td>
        <td ng-repeat="result in results track by $index" ng-class="{'red accent-1
  ': !result, 'green accent-1': result}">{{result}}</td>
      </tr>
    </table>
  </div>
</div>

<!-- Analytics tab. -->
<div id="analysisResult" class="col s12" ng-show="showTab.id===1">
  <table ng-if="analyticsResult" class="bordered" >
    <tr>
      <th></th>
      <th ng-repeat='browser in analyticsResult.header' colspan="2">{{browser}}</th>
    </tr>
    <tr>
      <th>#overlap</th>
      <th ng-repeat-start='browser in analyticsResult.header'>true</th>
      <th ng-repeat-end>false</th>
    </tr>
    <tr ng-repeat='row in analyticsResult.table track by $index' ng-if="$index>0">
      <td>{{$index}}</td>
      <td ng-repeat-start='browser in analyticsResult.header track by $index'>
        {{analyticsResult.table[$parent.$index][$index][0]}}
        ({{Math.floor(analyticsResult.table[$parent.$index][$index][0]/ totalAPI * 10000)/100}}%)
        <i class="tiny material-icons" ng-style="{cursor:'pointer'}" ng-click='newView($parent.$index, $index, true)'>open_in_new</i>
      </td>
      <td ng-repeat-end class="grey lighten-3">
        {{analyticsResult.table[$parent.$index][$index][1]}}
        ({{Math.floor(analyticsResult.table[$parent.$index][$index][1]/ totalAPI * 10000)/100}}%)
        <i class="tiny material-icons" ng-style="{cursor:'pointer'}" ng-click='newView($parent.$index, $index, false)'>open_in_new</i>
      </td>
    </tr>
  </table>



  <!--####### D3 TEST###### -->
  <svg class="chart" width="720" height="360">
  </svg>
  <!-- #################### -->



</div>

<!-- Filtered view. -->
<div ng-repeat="view in views track by $index" ng-show="showTab.id===2+$index">
  <table class="bordered highlight" ng-controller="filteredViewController">
    <tr>
      <th>Interface</th>
      <th ng-repeat='browser in view._header'> <div class="chip">{{browser}}</div></th>
    </tr>
    <tr ng-repeat-start="interface in Object.keys(view)" ng-if="interface!=='_header'" ng-click="showCatalog(interface)">
      <td class="waves-effect" ng-class="{'grey lighten-1': showRows[interface]}" ng-style="{cursor:'pointer', width:'100%'}">{{interface}}</td>
    </tr>
    <tr ng-repeat-end ng-repeat="(api, results) in view[interface]" ng-if="interface!=='_header' && showRows[interface]">
      <td class='colhead'>{{api}}</td>
      <td ng-repeat="result in results track by $index" ng-class="{'red accent-1
': !result, 'green accent-1': result}">{{result}}</td>
    </tr>
  </table>
</div>
